# Ignore everything
*

# Unignore all files with extensions (this leaves executables to be ignored)
!*.*

# Unignore all dirs
!*/

# Ignore eigen dependency but keep the directory and the readme
/eigen/**
!/eigen/README.md

# Ignore itensor dependency but keep the directory and the readme
/itensor/**
!/itensor/README.md

# Unignore Makefiles
!Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac specific
*.DS_Store

# Visual Studio Code
*.vscode

# Measured performance data should only be commited when located in the appropriate directory
*.csv
!/data_analysis/**/*.csv

